﻿@model MantenimientoProductoCSharp.Models.UsuarioModel

@{
    ViewBag.Title = "index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" id="txtMensaje">
                @Html.ValidationMessage("UsuarioError")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingreso al sistema</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Login","Login",FormMethod.Post)) 
                    {
                        <fieldset>
                            <legend>Login</legend>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @placeholder = "Usuario" })
                                @Html.ValidationMessageFor(model => model.nombre)
                                
                            </div>
                            <div class="form-group">
                                 @Html.PasswordFor(model => model.clave, new { @class = "form-control", @placeholder = "Clave" })
                                @Html.ValidationMessageFor(model => model.clave)
                            </div>
                            <div>                               
                                <input type="submit" id="btnIngresar" value="Ingresar" name="btnIngresar" class="btn btn-lg btn-success btn-block" />
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
