﻿@{
    ViewBag.Title = "Menu";
}

<h1>Menu</h1>
<p id="txtMensaje"></p>
@Html.ActionLink("Productos", "Listar", "Producto",null, new { @id = "btnProductos" });
@Html.ActionLink("Categorias", "Listar", "Categoria", null, new { @id = "btnCategoria" });

