﻿@model MantenimientoProductoCSharp.Models.CategoriaModel

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/NavbarLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="txtTitulo">Detalle de categoría</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Regresar","Listar")
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idCategoria)
                                @Html.TextBoxFor(model => model.idCategoria, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre)
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.descripcion)
                                @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })
                            </div>
                            @Html.ActionLink("Regresar","Listar")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
