﻿@model MantenimientoProductoCSharp.ViewModel.Categoria.CategoriaListarViewModel

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/NavbarLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" id="txtTitulo">Ingresar o editar categorías</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Regresar", "Menu", "Menu")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" id="txtMensaje">
                @Html.ValidationSummary()
                @ViewBag.status
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            @using (Html.BeginForm("InsertarEditar", "Categoria", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.categoria.idCategoria)
                                    @Html.TextBoxFor(model => model.categoria.idCategoria, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.categoria.nombre)
                                    @Html.TextBoxFor(model => model.categoria.nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.categoria.nombre)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.categoria.descripcion)
                                    @Html.TextBoxFor(model => model.categoria.descripcion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.categoria.descripcion)
                                </div>
                                <input type="submit" class="btn btn-primary" value="Aceptar" name="btnAceptar" id="btnAceptar" />
                            }
                        </div>
                        <div class="col-lg-8">
                            <table id="tabla" class="table table-striped table-bordered table-hover" border="1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Detalle</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listaCategoria)
                                        {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.idCategoria)</td>
                                            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.descripcion)</td>

                                            <td>@Html.ActionLink("Detalle", "Detalle", "Categoria", new { id = item.idCategoria }, new { @id = "btnDetalle" + item.idCategoria })</td>
                                            <td>@Html.ActionLink("Editar", "Editar", "Categoria", new { id = item.idCategoria }, new { @id = "btnEditar" + item.idCategoria })
                                            @Html.ActionLink("Eliminar", "Eliminar", "Categoria", new { id = item.idCategoria }, new { @id = "btnEliminar" + item.idCategoria })
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
