﻿@model MantenimientoProductoCSharp.Models.ProductoModel

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/NavbarLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="txtTitulo">Detalle de producto</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Regresar", "Listar")
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.idProducto)
                                @Html.TextBoxFor(x => x.idProducto, new { @class = "form-control", @readonly = "readonly" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.nombre)
                                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.stock)
                                @Html.TextBoxFor(x => x.stock, new { @class = "form-control", @readonly = "readonly" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.categoria.idCategoria)
                                @Html.TextBoxFor(x => x.categoria.idCategoria, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.fechaVencimiento)
                                @Html.TextBoxFor(x => x.fechaVencimiento, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Categoría asociada</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Regresar", "Listar")
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.categoria.idCategoria)
                                @Html.TextBoxFor(x => x.categoria.idCategoria, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.categoria.nombre)
                                @Html.TextBoxFor(x => x.categoria.nombre, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            @Html.LabelFor(x => x.categoria.descripcion)
                            @Html.TextBoxFor(x => x.categoria.descripcion, new { @class = "form-control", @readonly = "readonly" })
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
