﻿@model MantenimientoProductoCSharp.ViewModel.Producto.ProductoListarViewModel

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/NavbarLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="txtTitulo">Ingresar o editar productos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             @Html.ActionLink("Regresar","Listar")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" id="txtMensaje">
                @Html.ValidationSummary()
                @ViewBag.status
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            @using (Html.BeginForm("InsertarEditar", "Producto", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(x => x.producto.idProducto)
                                    @Html.TextBoxFor(x => x.producto.idProducto, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.producto.nombre)
                                    @Html.TextBoxFor(x => x.producto.nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.producto.nombre)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.producto.stock)
                                    @Html.TextBoxFor(x => x.producto.stock, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.producto.stock)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.producto.idCategoria)
                                    @Html.DropDownListFor(x => x.producto.idCategoria, Model.listaCategoria, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.producto.idCategoria)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.producto.fechaVencimiento)
                                    @Html.TextBoxFor(x => x.producto.fechaVencimiento,"{0:dd/MM/yyyy}", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.producto.fechaVencimiento)

                                </div>
                                <input class="btn btn-primary" type="submit" value="Aceptar" name="btnAceptar" id="btnAceptar" />
                            }
                        </div>
                        <div class="col-lg-8">
                            <table id="tabla" class="table table-striped table-bordered table-hover" border="1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Stock</th>
                                        <th>Categoria</th>
                                        <th>Fecha</th>
                                        <th>Detalle</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.listaCategoria != null)
                                    {
                                        foreach (var item in Model.listaProducto)
                                        {
                                        <tr>
                                            <td>@Html.DisplayFor(x => item.idProducto)</td>
                                            <td>@Html.DisplayFor(x => item.nombre)</td>
                                            <td>@Html.DisplayFor(x => item.stock)</td>
                                            <td>@Html.DisplayFor(x => item.categoria.nombre)</td>
                                            <td>@Html.DisplayFor(x => item.fechaVencimiento)</td>
                                            <td>@Html.ActionLink("Detalle", "Detalle", "Producto", new { id = item.idProducto }, new { @id = "btnDetalle" + item.idProducto })</td>
                                            <td>@Html.ActionLink("Editar", "Editar", "Producto", new { id = item.idProducto }, new { @id = "btnEditar" + item.idProducto })
                                                @Html.ActionLink("Eliminar", "Eliminar", "Producto", new { id = item.idProducto }, new { @id = "btnEliminar" + item.idProducto })</td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
